/* Header & menu */
.topoPagina{
    background: #bbbbbb;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
  
  }
  
  nav ul {
    position: absolute;
    top: 110px;
    right: 0;
  }
  nav li {
    display: inline;
    margin: 0 0 0 15px;
  }
  nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  
  }
  nav a:hover {
    color: #c78c18; /* muda as cores dos links quando passar o mouse */
    text-decoration: underline;
  }

            /* body */
main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label, form legend{
  font-size: 17px;
  display: block;
  margin: 0 0 10px;
}


/* para replica as atribuiçoes sem precisar repetir o bloco usar a virgula */
.input-padrao{ 
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  border-radius: 5px;
  
}

.checkbox{
  margin: 20px 0;
}

.envio {
  width: 15%;
  padding: 5px 0; /* primeiro campo é cima e baixo e segundo para os lados */
  font-weight: bold;
  font-size: 15px;
  border: 2px solid black; /* define a borda */
  border-radius: 5px; /* arredonda a borda */
  background-color: #c78c18;
  transition: 0.4s all; /* faz transmissao suave de .4 segundos para todos os itens */
  cursor: pointer;
  
}

.envio:hover{
  background-color: rgb(255, 199, 30);
  transform: scale(1.03); /* aumenta o botao em 3% */ 
  /*transform: rotate(360deg);*/
}

table{
  margin: 20px 0 15px;
}
table th{
  font-weight: bold;
  background: dimgrey;
  color: white;
}
table th, table td{
  border: 1px solid black;
  padding: 5px 8px;
}


            /* footer */
  .rodape{
    text-align: center ;
    background: url(../IMG/bg.jpg);
    padding: 40px 0;
  }
  
  .copyright{
    color: whitesmoke;
    font-weight: bold;
    font-size: 13px;
    margin-top: 20px 0 0;
  }
