{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Severity</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in ticket %}
                <tr>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.category }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.severity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <br>
    <!-- <form method="POST" action="/novo">
    <button type="submit"  class="btn btn-primary btn-criar">Novo Jogo</button></form> -->
    <br>
    <form method="POST" action="/logout">
    <button type="submit"  class="btn btn-primary btn-delete">Deslogar</button>
    </form>
{% endblock %}